.masters {
    background: $grey-100;
    padding-top: 30px;
    padding-bottom: 94px;

    &__wrapper {
        margin-top: 32px;
    }

    &__slider {
        position: relative;
    }

    &__slides {
        display: flex;
        justify-content: center;
        gap: 12px;
        align-items: end;
    }

    &__arrow-left {
        position: absolute;
        top: 60%;
        left: 0;
        z-index: 20;
        cursor: pointer;
    }

    &__arrow-right {
        position: absolute;
        top: 60%;
        right: 0;
        z-index: 20;
        cursor: pointer;
    }

    &__info {
        display: flex;
        justify-content: center;
        gap: 57px;
        margin-top: 110px;
    }

    &__video {
        position: relative;
        width: 586px;
        height: 298px;
        background: $black-600;

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__desc {
        width: 475px;
        height: 300px;
        background: $white-900;
        padding: 74px 70px 0 35px;

        ul {
            li {
                color: $black-900;
                font-size: 16px;
                font-weight: 400;
                line-height: 20px;
                list-style-type: disc;
            }
        }
    }
}