$blue-900: #2D4872;
$green-600: #52971F;
$black-900: #171616;
$grey-400: #C4C4C4;
$grey-100: #F2F2F2;
$white-900: #ffffff;
$black-700: #595959;
$grey-50: #E3EAEF;
$black-300: #E6E6E6;
$black-600: #555555;
$red-800: #B23533;
$black-400: #CCCCCC;
$blue-700: #2E3648;
$green-700: #6CAC3D;