@import 'base/reset';

* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

@import 'base/variables';
@import 'base/animation';

.container {
    width: 1440px;
    margin: 0 auto;
}

@media (min-width: 1201px) {
    .container {
        width: 1200px;
    }
}

main {
    overflow: hidden
}

//element
@import 'blocks/title';
@import 'blocks/button';

//blocks
@import 'blocks/header';
@import 'blocks/hero';
@import 'blocks/price';
@import 'blocks/examples';
@import 'blocks/stock';
@import 'blocks/work';
@import 'blocks/material';
@import 'blocks/quality';
@import 'blocks/reviews';
@import 'blocks/team';
@import 'blocks/masters';
@import 'blocks/channel';
@import 'blocks/suppliers';
@import 'blocks/feedback';
@import 'blocks/advice';
@import 'blocks/footer';