.masters {
    background: $grey-100;
    padding-top: 30px;
    padding-bottom: 94px;

    &__wrapper {
        margin-top: 32px;
    }

    &__slider {
        position: relative;
    }

    &__slides {
        display: flex;
        justify-content: center;
        gap: 12px;
        align-items: end;
    }

    &__arrow-left {
        position: absolute;
        top: 60%;
        left: 0;
        z-index: 20;
        cursor: pointer;
    }

    &__arrow-right {
        position: absolute;
        top: 60%;
        right: 0;
        z-index: 20;
        cursor: pointer;
    }

    &__info {
        display: flex;
        justify-content: center;
        gap: 57px;
        margin-top: 110px;
    }

    &__video {
        position: relative;
        width: 586px;
        height: 298px;
        background: $black-600;

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__desc {
        width: 475px;
        height: 300px;
        background: $white-900;
        padding: 74px 70px 0 35px;

        ul {
            li {
                color: $black-900;
                font-size: 16px;
                font-weight: 400;
                line-height: 20px;
                list-style-type: disc;
            }
        }
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    .masters {
        &__slider {
            overflow: hidden;
        }

        &__slides {
            overflow: hidden;
            transform: translateX(10px);
            gap: 18px;
        }

        &__slide {
            &-left {
                display: none;
            }

            &-center {
                width: 533px;
            }

            &-right {
                width: 253px;
            }
        }

        &__desc {
            width: 450px;
            padding: 74px 50px 0 35px;
        }

        &__video {
            width: 470px;
        }

        &__info {
            gap: 40px;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }

    .masters {
        padding-top: 62px;
        padding-bottom: 58px;
        &__arrow-left {
            top: 35%;
        }

        &__arrow-right {
            top: 35%;
        }

        &__slides {
            transform: translateX(100px);
        }

        &__slider {
            margin-top: 54px;
        }
        
        &__desc {
            width: 345px;
            height: 214px;
            padding: 40px 20px 0 30px;
        }

        &__video {
            width: 300px;
            height: 214px;
        }

        &__info {
            gap: 20px;
            margin-top: 70px;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
        padding: 0 10px;
    }

    .masters {
        padding-top: 54px;
        padding-bottom: 34px;
        &-title {
            font-size: 36px;
        }

        &__slider {
            margin-top: 44px;
        }

        &__slides {
            transform: translateX(0px);
        }

        &__slide {
            &-right {
                display: none;
            }
        }

        &__desc {
            width: 100%;
            height: 220px;
            padding: 40px 20px 0 30px;
        }

        &__video {
            width: 100%;
            height: 250px;
        }

        &__info {
            flex-direction: column;
            justify-content: flex-start;
            margin-top: 36px;
            gap: 28px;
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }

    .masters {
        &__desc {
            ul {
                li {
                    font-size: 14px;
                }
            }
        }
    }
}