.reviews {
    padding-top: 30px;
    background-color: $grey-100;
    padding-bottom: 72px;

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 30px 24px;
        justify-content: center;
        margin-top: 30px;
    }

    &__item {
        width: 586px;
    }

    &__video {
        position: relative;
        width: 100%;
        height: 298px;
        background-color: $black-600;

        img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            cursor: pointer;
        }
    }

    &__info {
        height: 70px;
        width: 100%;
        background-color: $white-900;
        padding: 14px 0 0 25px;

        &-header {
            display: flex;
            gap: 10px;
            align-items: center;
        }

        &-title {
            color: $green-600;
            font-size: 18px;
            font-weight: 700;
            line-height: 21px;
            text-transform: uppercase;
        }

        &-subtitle {
            color: $black-900;
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
        }

        &-text {
            color: $black-900;
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
        }
    }
}

@media (max-width: 1200px) {
    .container {
    max-width: 960px;
    }
    
    .reviews {
        &__item {
            width: 450px;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }

    .reviews {
        padding-top: 48px;
        padding-bottom: 48px;

        &-container {
            overflow: hidden;
        }

        &__wrapper {
            flex-wrap: nowrap;
            justify-content: flex-start;
        }

        &__item {
            min-width: 100%;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
        padding: 0 10px;
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }

    .reviews {
        padding-top: 50px;
        padding-bottom: 40px;

        &__video {
            height: 234px;
        }

        &-title {
            font-size: 36px;
        }

        &__info {
            padding: 30px 0 25px 0;
            height: 130px;

            &-title {
                color: $red-800;
            }

            &-text {
                img {
                    filter: invert(24%) sepia(94%) saturate(7484%) hue-rotate(358deg) brightness(91%) contrast(119%);
                }
            }
        }
    }
}