@media (max-width: 1200px) {
    .container {
    max-width: 960px;
    }
    
    .reviews {
        &__item {
            width: 450px;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }

    .reviews {
        padding-top: 48px;
        padding-bottom: 48px;

        &-container {
            overflow: hidden;
        }

        &__wrapper {
            flex-wrap: nowrap;
            justify-content: flex-start;
        }

        &__item {
            min-width: 100%;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
        padding: 0 10px;
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }

    .reviews {
        padding-top: 50px;
        padding-bottom: 40px;

        &__video {
            height: 234px;
        }

        &-title {
            font-size: 36px;
        }

        &__info {
            padding: 30px 0 25px 0;
            height: 130px;

            &-title {
                color: $red-800;
            }

            &-text {
                img {
                    filter: invert(24%) sepia(94%) saturate(7484%) hue-rotate(358deg) brightness(91%) contrast(119%);
                }
            }
        }
    }
}