.reviews {
    padding-top: 30px;
    background-color: $grey-100;

    &__item {
        width: 586px;
    }

    &__video {
        width: 100%;
        height: 298px;
        background-color: $black-600;
    }

    &__info {
        height: 70px;
        width: 100%;
        background-color: $white-900;
        padding: 14px 0 0 25px;

        &-header {
            display: flex;
            gap: 10px;
            align-items: center;
        }

        &-title {
            color: $green-600;
            font-size: 18px;
            font-weight: 700;
            line-height: 21px;
            text-transform: uppercase;
        }

        &-subtitle {
            color: $black-900;
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
        }

        &-text {
            color: $black-900;
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
        }
    }
}