@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }

    .stock {
        &__item  {
            width: 300px;
            height: 430px;
        }

        &__wrapper {
            padding: 70px 0px 0 0px;
        }
    }

}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }

    .stock {
        padding-top: 50px;

        &__title {
            display: none;
        }

        &__items {
            margin-top: 0;
            transform: translateX(100px);
            gap: 30px;
        }

        &__container {
            overflow: hidden;
        }

        &__item {
            min-width: 250px;
            height: 320px;
        }

        &__wrapper {
            padding: 55px 0 0 0;
        }
    }
    
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
        padding: 0 10px;
    }

    .stock {
        padding-top: 45px;

        &__title {
            display: block;
        }

        &__items {
            margin-top: 24px;
            transform: translateX(60px);
            gap: 90px;
        }

        &__item {
            min-width: 390px;
            height: 460px;
        }

        &__wrapper {
            &-btn {
                    width: 375px;
            }
        }

        &__btn {
            width: 380px;
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    } 
    
    .stock {
        &__wrapper {
            &-btn {
                width: 280px;
            }
        }

        &__item {
            min-width: 300px;
            height: 400px;
        }

        &__items {
            transform: translateX(0px);
            gap: 50px;
        }

        &__btn {
            width: 300px;
        }
    }
}
